repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: forbid-new-submodules
  - id: pretty-format-json
    args:
    - --no-sort-keys
    - --autofix
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.2
  hooks:
  - id: ruff-format
  - id: ruff
    args: [--fix]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    additional_dependencies: [types-python-dateutil]
    name: mypy jstark
    files: ^jstark
  - id: mypy
    additional_dependencies: [types-python-dateutil]
    name: mypy tests
    files: ^tests
