name: Pre-commit auto-update


on:
  schedule:
  - cron: 0 2 * * *

  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version-file: .python-version

    - name: pre-commit install autoupdate
      run: |
        pip install pre-commit
        pre-commit autoupdate

    - uses: peter-evans/create-pull-request@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: chore/update-pre-commit-hooks
        title: Update pre-commit hooks
        commit-message: 'chore: update pre-commit hooks'
        body: Update versions of pre-commit hooks to latest version
